*.o
*.lo
/config.mak
/src/include/s6-dns/config.h
/libs6dns.a.xyzzy
/libs6dns.so.xyzzy
/libskadns.a.xyzzy
/libskadns.so.xyzzy
/libdcache.a.xyzzy
/libdcache.so.xyzzy
/s6-dnsip
/s6-dnsip4
/s6-dnsip4-filter
/s6-dnsip6
/s6-dnsip6-filter
/s6-dnsmx
/s6-dnsname
/s6-dnsname-filter
/s6-dnsns
/s6-dnsq
/s6-dnsqr
/s6-dnsqualify
/s6-dnssoa
/s6-dnssrv
/s6-dnstxt
/s6-randomip
/skadnsd
